
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<title>@ViewData["Title"]</title>

		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" />

		<style>
			main { margin-top: 5em; }
		</style>
	</head>

	<body>
		<main role="main" class="container">
			@RenderBody()
		</main>

		@RenderSection("Scripts", required: false)
	</body>
</html>
