name: Deploy Production Packages
on:
  release:
    types: [published]

jobs:
  publish:
    name: Pack and Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Package Client
        run: dotnet pack src/Client/Client.csproj -c Release -o feeds/nuget

      - name: Package Runly
        run: dotnet pack src/Runly/Runly.csproj -c Release -o feeds/nuget

      - name: Package Templates
        run: dotnet pack src/Templates/Templates.csproj -c Release -o feeds/nuget

      - name: Package Diagnostics
        run: dotnet pack src/Diagnostics/Diagnostics.csproj -c Release -o feeds/runly

      - name: Push to Nuget
        run: find feeds/nuget -name '*.nupkg' | xargs -i dotnet nuget push {} -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_KEY }}

      - name: Push to Runly
        run: find feeds/runly -name '*.nupkg' | xargs -i dotnet nuget push {} -s https://api.runly.io/runly/packages/ -k ${{ secrets.RUNLY_KEY }}